.container  {
    font-family: monospace;
    background: #1f2937;
    display: flex;
}

.right-links {
    display: flex;
    justify-content: right;
    margin-bottom: 30px;
}

.logo {
    font-size: 12px;
    color: #f9faf8;
    padding-left: 10px;
    white-space: nowrap;
}

.button {
    background: #3882f6;
    color: white;
    border-radius: 20%;
    font-size: 10px;
    padding: 2px;
    width: 60px;
}

h1 {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: #f9faf8;
    width: auto;
    padding-top: 30px;
}

p {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #f9faf8;
    width: 500px;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
    gap: 8px;
}
  
a {
    font-size: 12px;
    color: #f9faf8;
    padding: 0px;
    /* this removes the line under the links */
    text-decoration: none;
  }
      img {
        display: flex;
        height: auto;
        width: 30%;
        margin-right: 30px;
        margin-bottom: 30px;

      }

/* -------Divider ---------*/

      .title {
          display: flex;
          justify-content: center;
          font-weight: bold;
          margin-bottom: 20px;
          font-size: 24px;
      }

      .info{
          max-width: 400px;
      }

      .container-2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 52px;
        margin-bottom: 50px;
      }

  /* -------Divider ---------*/

  .quote {
    background-color: #e5e7eb;  
    font-size: 26px;
    font-style: italic;
    color: #1f2937;
    display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 0px;
  }

  .author {
    background-color: #e5e7eb;  
    font-size: 30px;
    color: #1f2937;
    display: flex;
      justify-content: center;
      align-content: center;
      margin-bottom: 30px;
    
  }

.item-1 {
font-size: 16px;
width: auto;

}

.item-2 {
font-size: 10px;
}


.action {
    background: #3882f6;
    align-content: center;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin: 50px;
    padding: 50px;
    width: auto;
}

.button-2{
    display: flex;
    background-color: #3882f6;
    max-height: 25px;
    width: 50px;
    color: white;
    border-radius: 20%;
    font-size: 12px;
    padding: 2px;
    align-self: center;
    margin-top: 20px;
}
